@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
button {
  cursor: pointer;
}
.productDetail {
  max-width: 100vmax;
  height: 100%;
  margin: 50px;
  @include flex(row, flex-start, flex-start, wrap);
}

.Carousel-root-1 {
  width: 500px;
  margin-right: 50px;

  .carousolImage {
    width: 100%;
    object-fit: contain;
  }
}

.infoSection {
  .productTitle {
    font-size: clamp(0.8rem, 5vh, 3rem);
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .productId {
    font-size: clamp(0.8rem, 2vh, 1rem);
    margin-bottom: 20px;
  }

  .ratingSection {
    margin-bottom: 20px;
    p {
      font-size: clamp(0.8rem, 1.4vh, 1rem);
      margin-top: 5px;
    }
  }
  .addCartSection {
    .price {
      font-size: clamp(0.8rem, 4vh, 2.4rem);
      color: crimson;
      margin-bottom: 20px;
    }
  }
  .quantitySelector {
    margin-bottom: 20px;
    .btn {
      padding: 10px 20px;
      border: none;
      color: white;
      background: crimson;
      border-radius: 30px;
      margin-right: 5px;
    }
    input {
      height: 30px;
      margin-right: 5px;
      width: 50px;
      border: 2px solid crimson;
      text-indent: 10px;
      color: gray;
      outline: none;
      border-radius: 30px;
    }
  }
  .btn-big {
    padding: 15px 35px;
    border: none;
    color: white;
    font-size: clamp(0.9rem, 1vh, 2rem);
    background-color: crimson;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 700ms ease;
    &:hover {
      background: transparent;
      color: crimson;
      border: 2px solid crimson;
    }
  }
  .status {
    margin: 20px 0;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
}

.addReview {
  margin: 30px 0px;
  button {
    padding: 10px 20px;
    border-radius: 30px;
    color: crimson;
    background-color: transparent;
    border: 1px solid crimson;
  }
}

.textArea {
  outline: none;
  font-family: "Inter";
  margin: 10px;
}

.dialogWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 300px;
  height: 200px;

  h3 {
    margin-bottom: 10px;
  }
}

.reviewContainer {
  margin-top: 40px;
  width: 100vmax;
  h4 {
    margin-top: 20px;
  }
  .titleContainer {
    width: 180px;
    .title {
      color: crimson;
      border-bottom: 1px solid crimson;
      padding-bottom: 5px;
    }
  }
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
@media (max-width: 800px) {
  .Carousel-root-1 {
    width: 300px;
  }
  .productDetail {
    justify-content: center;
    // align-items: center;
  }
  .Carousel-root-1 {
    margin: 0;
  }
  .infoSection {
    justify-self: flex-start;
  }
  .infoSection {
    width: 100%;
  }
}
