.reviewManageWrappper {
  margin: 1rem;
  h3 {
    margin: 0 auto;
    text-align: center;
    margin: 1rem;
  }
  .reviewIdSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
}
