.actionOfOrders {
  display: flex;
  a {
    display: flex;
    align-items: center;
  }
  svg {
    font-size: 1.5rem !important;
    margin-right: 5px;
    color: crimson !important;
    cursor: pointer;
  }
}

.dashboard {
  .myOrderContainer {
    .grid {
    }
  }
}
